* {
	box-sizing: border-box;
}

body { 

	/* background-image: url(retro_intro.png) */

	background-image: url("../images/dust_scratches.png")

 }


.container {
	width: 960px;
	margin: 0 auto;
	overflow: auto;
}

#headshot {
	height: 30%;
	width: 30%;
	float: left;
}

nav ul li {
	display: inline;
	float: right;
	font-size: 20px;
	padding: 23px 15px 5px 15px;
	
}

nav ul li a {
	text-decoration: none;
	color: #777777;

}
a:hover  {
	color: #4aaaa5;
}


header {
	background-color: #fff;
	border-bottom: 3px solid gray;
	margin-bottom: 20px;
	border-color: #cccccc;
}

#header_name {
	background-color: #4aaaa5;
	font-family: "Georgia",Times, Times New Roman, serif;
	float: left;
	padding: 20px;
	color: white;
	font-weight: bold;
	font-size: 40px;

}

footer {
	padding: 23px 0;
	font-size: 16px;
	border-top: 3px solid #4aaaa5;
	background-color: #666666;
	text-align: center;
	clear: both;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.main-content {
	width: 650px;
	float: left;
	background-color: #ffffff;
	text-align: center;
	padding: 15px;
	border-color: #dddddd;
	color: #777777;
	font-family: "Arial", 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 20px;

}

.main-header{
	font-size: 30px;
	font-family: "Georgia",Times, Times New Roman, serif;
	color: #4aaaa5;
	text-align: left;
	padding: 20px 20px 20px 5px;
	background-color: #ffffff;
	font-weight: bold;
	;
}

.subheader{
	font-family: "Georgia",Times, Times New Roman, serif; 
	font-size: 18px;
	color: #4aaaa5;
	background-color: #ffffff;
	text-align: center;
	font-weight: bold;
}
.social-images {
	height: 55px;
	width: 55px;
	padding: 2px;
}

}
aside {
	float: right;
	
}

.connect{
	float: right;
	width: 270px;
	background-color: white;
	text-align: center;
	padding: 20px 10px 20px 10px;
}